* {
  margin: 0;
  padding: 0;
}

html, body, .grid {
  height: 100%;
}

/* Common styles */
@font-face {
	font-family: "8bitoperator";
	src: url(../fonts/8bitoperator.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
  color: #fff;
  line-height: 25px;
}

h1 { margin-bottom: 14px; }

ul { list-style: none; }

code {
  background-color: #555;
  padding: 2px 5px;
  border-radius: 2px;
}

hr {
  width: 80%;
  border: 1px solid #666;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: skyblue;
}

a:hover { text-decoration: underline; }

/* Grid styles */
.grid {
  display: grid;
  grid-template-columns: 1fr 40%;
}

.grid > .grid_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Game styles */
.grid_item.canvas_container > canvas {
  border: 1px dashed #666;
}