* {
	margin: 0;
	padding: 0;
}

/* Fonts init */
@font-face {
	font-family: "8bitoperator";
	src: url(./resources/fonts/8bitoperator.ttf)
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #222;
}

.playground {
	display: flex;
	width: 100%;
	height: 100%;
}

canvas {
	border: 1px dashed #666;
	margin: auto;
}