<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>RPGinia project editor</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="./editor.css">
</head>
<body>
	<div id="app">
		<!-- Start window -->
		<template v-if="!canUseEditor">
			<start-window v-if="startWindow.currentHTML === 0"></start-window>
			<project-settings v-else></project-settings>
		</template>

		<!-- Editor -->
		<div class="editor" v-else>
			<div class="editor__menu">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<span class="project-name">{{projectData.roomData.settings.name}}</span>

					<div class="collapse navbar-collapse" id="editorMenu">
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="fileActions" data-toggle="dropdown">
									File
								</a>
								<div class="dropdown-menu" aria-labelledby="fileActions">
									<a class="dropdown-item" href="#">New project</a>
									<a class="dropdown-item" href="#">Open project</a>
									<a class="dropdown-item" href="#">Save</a>
									<a class="dropdown-item" href="#">Save as...</a>
									<a class="dropdown-item" href="#">Project settings</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Options</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="fileActions" data-toggle="dropdown">
									View
								</a>
								<div class="dropdown-menu" aria-labelledby="fileActions">
									<a class="dropdown-item" href="#" @click="controls.cameraZoom += 10">Zoom +</a>
									<a class="dropdown-item" href="#" @click="controls.cameraZoom -= 10">Zoom -</a>
									<a class="dropdown-item" href="#" @click="controls.cameraZoom = 100">Zoom default</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://shcherbadev.github.io/RPGinia" target="_blank">Help</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="editor__layers">
				<div class="section-title">Layers</div>
				<div class="section-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati recusandae magnam, fugit veritatis dolorem, ullam. Esse libero reiciendis autem accusamus magnam quos consequuntur vero facilis quod mollitia, perferendis nobis deserunt!</p>
				</div>
			</div>
			<div class="editor__objects">
				<div class="object-list">
					<div class="section-title">
						Sprite list
					</div>
					<div class="section-content">
						<template v-if="objects.length">
							<table>
								<tr>
									<object-item
										v-for="object in objects"
										v-bind:key="object.id"
										v-bind:object="object"></object-item>
								</tr>
							</table>
							<p>Total objects: {{objects.length}}</p>
						</template>
						<p v-else>Object list is empty!<br/>Press <b>+</b> to add a new object.</p>
					</div>
				</div>

				<div class="object-properties">
					<div class="section-title">Properties</div>
					<div class="section-content">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia aliquid veniam, voluptate sunt ratione dolorum eligendi omnis laborum esse quibusdam! Ipsa blanditiis animi dolore molestiae necessitatibus soluta ipsum dolorem iste, exercitationem asperiores repellendus aspernatur temporibus dignissimos reiciendis consequatur aut cupiditate, facilis fuga vel delectus sapiente autem ullam. Debitis deleniti illo tempora atque, aliquam dolor dicta necessitatibus quidem! Earum sunt aliquam libero, numquam quibusdam illum officiis laboriosam voluptas similique cum labore ea exercitationem velit neque incidunt repellat? Reiciendis eligendi expedita praesentium rem placeat repudiandae, quod nesciunt alias, modi provident, ullam sequi ipsa quas magni sed. Dolor voluptas esse delectus enim.
					</div>
				</div>
			</div>
			<div class="editor__result">
				<div class="section-title">Result</div>
				<div class="section-content">
					<canvas id="editor"></canvas>
					<p>Zoom: {{controls.cameraZoom}}%</p>
				</div>
			</div>
		</div>
		<!-- Editor end -->
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<!-- Vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<!-- Editor -->
	<script src="./editor.js"></script>
</body>
</html>