{% include landing/section-template/section-header.html className="about" id="about" name="About me" %}
    <div class="row">
        <div class="col-12 col-lg-6" itemscope itemtype="http://schema.org/Person">
            <p itemprop="description">{{ site.data.about-me }}</p>
        </div>
        <div class="col-12 col-lg-6">
            <a href="https://www.facebook.com/permalink.php?story_fbid=1016356312069466&id=100010853207140" class="rounded" target="_blank">
                <img
                    src="/images/me.jpg"
                    alt="Photo of me with GCI Runner Up certificate"
                    class="shadow-sm p-2 rounded img-responsive">
            </a>
        </div>
    </div>
    <a href="#projects" class="btn btn-block btn-primary projects-link">Check out my projects!</a>
{% include landing/section-template/section-footer.html %}
